/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202020;
  font-size: 14px;
}
body {
  margin: 30px;
}
.link {
  color: #606060;
}
.link:hover {
  background-color: #202020;
  color: #fff;
}

.headline {
  font-size: 25px;
  font-weight: 700;
}
table {
  margin: 20px 0;
}
th.table-title {
  width: 200px;
}
th.table-body {
  width: 400px;
}
td {
  padding: 0 3px;
}
.new-book {
  font-size: 20px;
}
.form-title, .form-body{
  margin-top: 10px;
}
.submit {
  margin: 10px 0;
}

/*home-index.html.erb*/
.home-text {
  line-height: 50px;
  margin : 20px 0;
}
.home-box {
  margin-left: 40px;
}


/*books-show.html.erb*/
.detail-box {
  margin:0 0 30px 40px;
}
.detail {
  margin-bottom: 30px;
}
.flash {
  margin:0 0 30px 40px;
  color: #008000;
}

.error-message-box {
  width: 400px;
  border: 2px solid #ff0000;
  margin: 20px 0;
}

.error-message {
  color: #ffffff;
  background-color: #cc0000;
  padding: 5px 20px;
  font-size: 11px;
  font-weight: 700;
}
.error-detail {
  padding: 30px 0 30px 60px;
  font-size: 11px;
}

